
<div class="login-section" >
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="javascript:;" #form="ngForm" (ngSubmit)="onPressLogin(form)">
                    <div class="card">
                        <div class="card-header text-center">
                            <i class="fa fa-user logo"></i>
                            <h4 class="log-in">LOG IN</h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group ">
                                <label for=""> <i class="fa fa-envelope"></i> Email</label>
                                <input type="email" email="true" class="form-control" autocomplete="off" name="email" [(ngModel)]="user.email"
                                    required #email="ngModel" />
                                <div *ngIf=" email.invalid && (email.dirty || email.touched) || form.submitted" class="validation-error">
                                    <div *ngIf="email?.errors?.required">
                                        Email is Required
                                    </div>
                                   
                                    <div *ngIf="email?.errors?.email">
                                        Not Valid Email
                                    </div>

                                </div>
                            </div>

                            <div class="form-group ">
                                <label for=""> <i class="fa fa-lock"></i>Password</label>
                                <input type="password" class="form-control" autocomplete="off" name="password" minlength="6"
                                    [(ngModel)]="user.password" #password="ngModel" required>

                                <div *ngIf=" password.invalid && (password.dirty || password.touched) || form.submitted" class="validation-error">
                                    <div *ngIf="password?.errors?.required">
                                        Password is Required

                                    </div>
                                    <div *ngIf="password?.errors?.minlength">
                                        Password Must Be At least 6 Character
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="card-footer justify-content-center m-auto">
                            <button type="submit" class="btn btn-light">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-response-message [message]="toastMessage" [class]="toastClass" [show]="showToast"></app-response-message>
